# VSCode configs
.vscode/

# LabWindows build files
cvibuild.GUIDesign/
cvidistkit.adwinGUI Save Converter
*.exe

# LabWindows workspace
*.cws

# Cppcheck
*.cppcheck
GUIDesign-cppcheck-build-dir/

Translated.pan
Translated.arr
